*{padding: 0px;
margin: 0px;
box-sizing: border-box;}


body{background-color: bisque;}

form{background-image: linear-gradient(to bottom, blue, white);
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 300px;
    border-radius: 20px;
}

h1{color: white;
margin: 10px;
text-align: center;
padding-top: 70px;}

div.d1{margin: 20px;
}
div.d2{ margin-left: 20px;
margin-bottom: 10px;}

.pp{font-size: 10px;}

input{
width: 150px;
height: 30px;
border-radius: 7px;
border-color:gray;}


